<%= form_with(model: category, class: "form") do |form| %>
    <% if category.errors.any? %>
      <div>
        <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>
  
        <ul>
          <% category.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div>
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
  
    <div">
      <%= form.label "Select icon:"  %>
      <div class="icons-group">
        <%= form.collection_radio_buttons :icon, [["Health", "health_icon.webp"], ["Education", "education_icon.webp"], ["Food", "food_icon.webp"], ["Clothing", "clothing_icon.webp"], ["Entertainment", "entertainment_icon.webp"], ["Other", "other_icon.webp"]], :second, :first do |b| %>
          <%= b.label do %>
            <%= image_tag(image_path("#{b.value}"), alt: b.text, style: "max-width: 50px; max-height: 50px;") %>
            <%= b.radio_button %>
          <% end %>
        <% end %>
      </div>
    </div>
  
    <div>
      <%= form.submit "Save" %>
    </div>
  <% end %>